:root {
  --main-orange: #ffcb19;
  --main-grey: #f9f9fb;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Urbanist', sans-serif;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: center;
    margin: 2vh 0;
    /* background-color: red; */
}

header > h1 {
    flex: 1;
    font-weight: 900;
    /* background-color: yellow; */
}

header > .search {
    flex: 3;
}

header > .user {
    flex: 1;
    /* background-color: yellow; */
}

.search {
    display: flex;
    /* background: yellow; */
    background-color: var(--main-grey);
    border-radius: 1.5rem;
    align-items: center;
}

.search > i {
    margin-left: 2rem;
    margin-right: 2rem;
    color: lightgrey;
}

.search > input {
    flex: 1;
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
}

#search::placeholder{
    color: lightgrey;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user > i {
    color: var(--main-orange);
}

main {
    display: flex;
    height: 70vh;
}

main > nav {
    flex: 1;
    height: 100%;
    /* background-color: red; */
}

main > .main-section {
    flex: 4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5%;
}

.main-section h2 {
    margin: 0 0 3% 0;
}

.nav-header {
    font-weight: bold;
    color: lightgrey;
    padding: 5%;
    margin-left: 10%;
}

.nav-header:last-of-type {
    margin-top: 10%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 70%;
    padding: 4% 5%;
    margin-left: 10%;
    margin-top: 3%;

    background-color: transparent;

    border-radius: 3rem;

    text-decoration: none;
    font-weight: bold;
    color: black;
}

.active {
    background-color: var(--main-orange);
}

.nav-item > i {
    margin-right: 10%;
}

.card-container {
    margin: 0 0;
    width: 100%;
    display: flex;
    gap: 10%;
}

.card {
    /* background-color: red; */
    /* flex: 1; */
    flex: 0 1 25%;
    /* width: 15%; */
    /* height: 27vh; */
}

.card-image img {
  border-radius: 5%;
  width: 100%;
  height: 20vh;
}

.card-footer {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.card-text {
    flex: 4;
    font-weight: bold;
    /* padding: 10px 0 0 0; */
    /* background-color: yellow; */
}

.card-control {
    flex: 1;
    text-align: end;
    margin: 0 5% 0 0;
    color: lightgrey;
}

.track-author {
    color: lightgrey;
    font-size: 1.2rem;
}