:root {
  --main-orange: #ffcb19;
  --main-grey: #f9f9fb;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Urbanist', sans-serif;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

.fa-play-circle {
    color: var(--main-orange);
}

.fa-redo,
.fa-backward,
.fa-forward,
.fa-random,
.fa-volume-down,
.fa-heart,
.fa-plus,
.fa-download {
    color: lightgrey;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: center;
    margin: 2vh 0;
    /* background-color: red; */
}

header > h1 {
    flex: 1;
    font-weight: 900;
    /* background-color: yellow; */
}

header > .search {
    flex: 3;
}

header > .user {
    flex: 1;
    /* background-color: yellow; */
}

.search {
    display: flex;
    /* background: yellow; */
    background-color: var(--main-grey);
    border-radius: 1.5rem;
    align-items: center;
}

.search > i {
    margin-left: 2rem;
    margin-right: 2rem;
    color: lightgrey;
}

.search > input {
    flex: 1;
    height: 4vh;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    background-color: transparent;
}

#search::placeholder{
    color: lightgrey;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.user > i {
    color: var(--main-orange);
}

main {
    display: flex;
    height: 70vh;
}

main > nav {
    flex: 1;
    height: 100%;
    /* background-color: red; */
}

main > .main-section {
    flex: 4;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 50% 50%;
    gap: 5%;
}

.main-section section {
    /* border: 3px solid green; */
}

.main-section h2 {
    /* margin: 0 0 3% 0; */
}
/* 
section > div {
    background-color: green;
} */

.nav-header {
    font-weight: bold;
    color: lightgrey;
    padding: 5%;
    margin-left: 10%;
}

.nav-header:last-of-type {
    margin-top: 10%;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 70%;
    padding: 4% 5%;
    margin-left: 10%;
    margin-top: 3%;

    background-color: transparent;

    border-radius: 3rem;

    text-decoration: none;
    font-weight: bold;
    color: black;
}

.active {
    background-color: var(--main-orange);
}

.nav-item > i {
    margin-right: 10%;
}

.card-container {
    margin: 0 0;
    width: 100%;
    display: flex;
    gap: 10%;
    /* border: 3px solid red; */
    height: 90%;
}

.card {
    /* background-color: red; */
    /* flex: 1; */
    flex: 0 1 25%;
    /* width: 15%; */
    /* height: 27vh; */
}

.card-image img {
    border-radius: 5%;
    width: 100%;
    height: 20vh;
}

.card-footer {
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.card-text {
    flex: 4;
    font-weight: bold;
    /* padding: 10px 0 0 0; */
    /* background-color: yellow; */
}

.card-control {
    flex: 1;
    text-align: end;
    margin: 0 5% 0 0;
    color: lightgrey;
}

.track-author {
    color: lightgrey;
    font-size: 1.2rem;
}

.album-container {
    height: 90%;
    /* border: 3px solid red; */
    position: relative;
}

.album-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.album-author {
    font-weight: 900;
}

.album-text {
    position: absolute;
    top: 0;
    width: 40%;
    margin: 5% 0 0 5%;
    /* border: 3px solid black; */
}

.album-description, .album-author {
    margin-bottom: 5%;
}

.album-description {
    font-weight: bold;
    color: lightgrey;
}

.trending-container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    /* border: 3px solid red; */
}

.trending-box {
    flex: 0 1 25%;
    border-radius: 5%;
    background-color: var(--main-grey);
    display: flex;
    align-items: center;
    /* background-color: lightgrey; */
}

.trending-box > i {
    flex: 1.5;
    /* border: 3px solid red; */
}


.trending-text {
    flex: 8;
    /* border: 3px solid red; */
}

.trending-duration {
    flex: 2;
    /* border: 3px solid red; */
}

.trending-text, .trending-duration {
    font-weight: bold;
}

.trending-author {
    color: lightgrey;
    font-size: 1.2rem;
}

.trending-title, .trending-author, .trending-duration {
    /* font-size: 1rem; */
}

.popular-container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* border: 3px solid red; */
}

.popular-box {
    flex: 0 1 25%;
    border-radius: 5%;
    /* background-color: var(--main-grey); */
    display: flex;
    align-items: center;
    /* background-color: lightgrey; */
}

.popular-box > img {
    flex: 2;
    object-fit: cover;
    max-width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    /* border: 3px solid red; */
}

.popular-text {
    flex: 8;
    /* border: 3px solid red; */
}

.popular-box > i {
    flex: 2;
    color: lightgrey;
    /* border: 3px solid red; */
}

.popular-text {
    font-weight: bold;
}

.popular-followers {
    color: lightgrey;
    font-size: 1.2rem;
}

footer {
    position: fixed;
    bottom: 0;
    height: 12.5vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.player-left, .player-middle, .player-right {
    flex: 1;
    /* border: 3px solid lightgreen; */
}

.player-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.player-left {
    display: flex;
    align-items: center;
    gap: 3%;
    margin-left: 2%;
    /* background-color: lightgrey; */
}

.player-left > img {
    flex: 1.5;
    max-width: 10%;
    height: 10%;
    border-radius: 5%;
    /* border: 3px solid red; */
}


.player-left-text {
    flex: 8;
    /* border: 3px solid red; */
}

.player-left > .timestamp {
    flex: 2;
    color: lightgrey;
    /* border: 3px solid red; */
}

.player-left-text, .timestamp {
    font-weight: bold;
}

.player-left-text > .description {
    color: lightgrey;
    font-size: 1.2rem;
}

.player-right {
    display: flex;
    margin-right: 2%;
}

.player-right > .volume-control, .player-right > .user-control {
    flex: 1;
    display: flex;
    /* border: 3px solid red; */
}

.volume-control > i, .volume-control > #volume-slider {
    /* border: 3px solid black;  */
}

.volume-control > i {
    flex: 1;
}

.volume-control > #volume-slider {
    flex: 9;
    width: 100%;

    -webkit-appearance: none;
    appearance: none;

    background: transparent;
    outline: none;
    opacity: 0.7;
    cursor: pointer;


}

.player-right > .user-control i{
    /* border: 3px solid black; */
    text-align: right;
    flex: 0 0 25%;
}

#progress-bar {
    height: 0.5vh;
    width: 55%;
    background: var(--main-orange);

    position: fixed;
    bottom: 12vh;
    z-index: 1;
}

/* https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */

/* Chrome */
#volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5vh;
  /* background: var(--main-orange); */
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background: var(--main-orange);
  margin-top: -0.25vh;
}

/* FF */
#volume-slider::-moz-range-progress {
  width: 100%;
  height: 0.5vh;
  background-color: var(--main-orange); 
}

#volume-slider::-moz-range-track {  
  width: 100%;
  height: 0.5vh;
  background-color: var(--main-grey);
}

#volume-slider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background: var(--main-orange);
  margin-top: -0.25vh;
  outline: none;
  border: none;
}

/* IE */
#volume-slider::-ms-track {
  background: var(--main-orange);
}

#volume-slider::-ms-thumb {
  -webkit-appearance: none;
  height: 1vh;
  width: 1vh;
  border-radius: 50%;
  background: var(--main-orange);
  margin-top: -0.25vh;
}

#volume-slider::-ms-fill-lower {
  width: 100%;
  height: 0.5vh;
  background-color: var(--main-grey); 
}

#volume-slider::-ms-fill-upper {  
  width: 100%;
  height: 0.5vh;
  background-color: var(--main-orange);
}
